Repository ORNL/GridKit, pull requests merged in 2025-06, with the labels that each got.

#122 Create README file documenting classical generator model
  src/Model/PhasorDynamics/SynchronousMachine/GenClassical/README.md
Labels: documentation, new model

#127 Add classical generator model
  src/Model/PhasorDynamics/SynchronousMachine/CMakeLists.txt
  src/Model/PhasorDynamics/SynchronousMachine/GenClassical/CMakeLists.txt
  src/Model/PhasorDynamics/SynchronousMachine/GenClassical/GenClassical.cpp
  src/Model/PhasorDynamics/SynchronousMachine/GenClassical/GenClassical.hpp
  src/Model/PhasorDynamics/SynchronousMachine/GenClassical/README.md
  tests/UnitTests/PhasorDynamics/CMakeLists.txt
  tests/UnitTests/PhasorDynamics/GenClassicalTests.hpp
  tests/UnitTests/PhasorDynamics/runGenClassicalTests.cpp
Labels: enhancement, good first issue, testing, new model

#134 fix several memory leaks
  examples/Experimental/DynamicConstrainedOpt/DynamicConstrainedOpt.cpp
  examples/Experimental/GenInfiniteBus/GenInfiniteBus.cpp
  examples/Experimental/ParameterEstimation/ParameterEstimation.cpp
  src/Solver/Dynamic/Ida.cpp
Labels: bug

#138 Implement system model data structure and system composer
  examples/PhasorDynamics/Example1/CMakeLists.txt
  examples/PhasorDynamics/Example1/example1.cpp
  examples/PhasorDynamics/Example2/example2.cpp
  src/Model/PhasorDynamics/Branch/Branch.cpp
  src/Model/PhasorDynamics/Branch/Branch.hpp
  src/Model/PhasorDynamics/Bus/Bus.cpp
  src/Model/PhasorDynamics/Bus/Bus.hpp
  src/Model/PhasorDynamics/Bus/BusData.hpp
  src/Model/PhasorDynamics/Bus/BusFactory.hpp
  src/Model/PhasorDynamics/Bus/BusInfinite.cpp
  src/Model/PhasorDynamics/Bus/BusInfinite.hpp
  src/Model/PhasorDynamics/BusBase.hpp
  src/Model/PhasorDynamics/BusFault/BusFault.cpp
  src/Model/PhasorDynamics/BusFault/BusFault.hpp
  src/Model/PhasorDynamics/INPUT_FORMAT.md
  src/Model/PhasorDynamics/Load/Load.cpp
  src/Model/PhasorDynamics/Load/Load.hpp
  src/Model/PhasorDynamics/Load/LoadImpl.hpp
  src/Model/PhasorDynamics/SynchronousMachine/GENROUwS/Genrou.cpp
  src/Model/PhasorDynamics/SynchronousMachine/GENROUwS/Genrou.hpp
  src/Model/PhasorDynamics/SystemModel.hpp
  src/Model/PhasorDynamics/SystemModelData.hpp
  tests/UnitTests/PhasorDynamics/CMakeLists.txt
  tests/UnitTests/PhasorDynamics/SystemTests.hpp
Labels: enhancement, new model

#135 Add 10 generator system to phasor dynamics examples
  examples/PhasorDynamics/CMakeLists.txt
  examples/PhasorDynamics/Example3/CMakeLists.txt
  examples/PhasorDynamics/Example3/example3.cpp
Labels: examples

#149 Governor (GovernorTgov1) Documentation
  src/Model/PhasorDynamics/Governor/GovernorTgov1/README.md
  src/Model/PhasorDynamics/Governor/README.md
Labels: documentation

#152 Fix build bug and a compiler warnings.
  src/Model/PhasorDynamics/Governor/Tgov1/Tgov1.cpp
  src/Model/PhasorDynamics/Governor/Tgov1/Tgov1.hpp
  src/Model/PhasorDynamics/Governor/Tgov1/Tgov1Data.hpp
  src/Model/PhasorDynamics/SynchronousMachine/GENROUwS/Genrou.hpp
  tests/UnitTests/PhasorDynamics/GovernorTgov1Tests.hpp
Labels: bug, cmake, compiler warnings

#158 Bug fix for example2 test
  examples/PhasorDynamics/Example2/example2.cpp
Labels: bug

#156 Example for Tgov1
  examples/PhasorDynamics/CMakeLists.txt
  examples/PhasorDynamics/Example1_Tgov1/CMakeLists.txt
  examples/PhasorDynamics/Example1_Tgov1/example1_tgov1.cpp
  examples/PhasorDynamics/Example1_Tgov1/example1_tgov1.hpp
  examples/PhasorDynamics/Example2/example2.cpp
  src/Model/PhasorDynamics/Governor/Tgov1/Tgov1.hpp
  src/Model/PhasorDynamics/GovernorBase.hpp
  src/Model/PhasorDynamics/SynchronousMachine/GENROUwS/Genrou.cpp
  src/Model/PhasorDynamics/SynchronousMachine/GENROUwS/Genrou.hpp
  src/Model/PhasorDynamics/SystemModelData.hpp
Labels: examples

#157 Exciter (IEEET1) Documentation
  docs/Figures/PhasorDynamics_IEEET1_Diagram.png
  src/Model/PhasorDynamics/Exciter/EXDC1/README.md
  src/Model/PhasorDynamics/Exciter/IEEET1/README.md
  src/Model/PhasorDynamics/Exciter/README.md
Labels: documentation

#162 Organizing Phasor Dynamics Examples
  examples/PhasorDynamics/CMakeLists.txt
  examples/PhasorDynamics/Example1/CMakeLists.txt
  examples/PhasorDynamics/Example1/example1.hpp
  examples/PhasorDynamics/Example1_Tgov1/CMakeLists.txt
  examples/PhasorDynamics/Example1_Tgov1/example1_tgov1.hpp
  examples/PhasorDynamics/Example2/CMakeLists.txt
  examples/PhasorDynamics/Example2/example2.hpp
  examples/PhasorDynamics/Example3/CMakeLists.txt
  examples/PhasorDynamics/Example3_GenClassical/CMakeLists.txt
  examples/PhasorDynamics/Large/CMakeLists.txt
  examples/PhasorDynamics/Medium/CMakeLists.txt
  examples/PhasorDynamics/Small/CMakeLists.txt
  examples/PhasorDynamics/Small/TenGen/CMakeLists.txt
  examples/PhasorDynamics/Small/TenGen/Classical/CMakeLists.txt
  examples/PhasorDynamics/Small/TenGen/Classical/TenGenClassical.cpp
  examples/PhasorDynamics/Small/TenGen/Genrou/CMakeLists.txt
  examples/PhasorDynamics/Small/TenGen/Genrou/TenGenGenrou.cpp
  examples/PhasorDynamics/Tiny/CMakeLists.txt
  examples/PhasorDynamics/Tiny/ThreeBus/Basic/CMakeLists.txt
  examples/PhasorDynamics/Tiny/ThreeBus/Basic/ThreeBusBasic.cpp
  examples/PhasorDynamics/Tiny/ThreeBus/Basic/ThreeBusBasic.hpp
  examples/PhasorDynamics/Tiny/ThreeBus/CMakeLists.txt
  examples/PhasorDynamics/Tiny/TwoBus/Basic/CMakeLists.txt
  examples/PhasorDynamics/Tiny/TwoBus/Basic/TwoBusBasic.cpp
  examples/PhasorDynamics/Tiny/TwoBus/Basic/TwoBusBasic.hpp
  examples/PhasorDynamics/Tiny/TwoBus/CMakeLists.txt
  examples/PhasorDynamics/Tiny/TwoBus/Tgov1/CMakeLists.txt
  examples/PhasorDynamics/Tiny/TwoBus/Tgov1/TwoBusTgov1.cpp
  examples/PhasorDynamics/Tiny/TwoBus/Tgov1/TwoBusTgov1.hpp
Labels: examples

#165 Fix incorrect allocation of yp in the Enzyme example for DistributedGenerator
  examples/Enzyme/PowerElectronics/main.cpp
Labels: bug
